liver_dataset/imagesTr/**
liver_dataset/labelsTr/**
liver_dataset/imagesTs/**
liver_dataset/labelsTs/**
checkpoints/best_model.pth
__pycache__/preprocess.cpython-39.pyc
__pycache__/preprocess.cpython-310.pyc
checkpoints/best_model_full.pth
checkpoints/best_model_weights.pth
__pycache__/evaluate.cpython-310.pyc
__pycache__/train.cpython-310.pyc
checkpoints/best_metirc_model.pth
__pycache__/inference.cpython-310.pyc
out/liver_8/liver_8_seg.nii.gz
data
processed_data