
checkpoints/best_model.pth
__pycache__
checkpoints/best_model_full.pth
checkpoints/best_model_weights.pth
__pycache__/evaluate.cpython-310.pyc
__pycache__/train.cpython-310.pyc
checkpoints/best_metirc_model.pth
__pycache__/inference.cpython-310.pyc
processed_data
predictions
checkpoints
data
data_min
